In [1]:
#importando a biblioteca pandas 
import pandas as pd

In [58]:
#criando um dicionario para consulta e alterando para tabela

inventario  = {'Produto':['arroz','feijao','macarrao','leite','cereal','milho'],
               'Quantidade':['5','10','50','25','10','12'],
               'Valor Final':['21','6.99','2.99','4.99','12.99','2.45'],
              }
inventario_total = pd.DataFrame(inventario)
display (inventario_total)

    Produto Quantidade Valor Final
0     arroz          5          21
1    feijao         10        6.99
2  macarrao         50        2.99
3     leite         25        4.99
4    cereal         10       12.99
5     milho         12        2.45

In [59]:
# o head retorna as cincos primeiras linhas
display(inventario_total.head())

    Produto Quantidade Valor Final
0     arroz          5          21
1    feijao         10        6.99
2  macarrao         50        2.99
3     leite         25        4.99
4    cereal         10       12.99

In [60]:
#o head retorna a linha determinada dentro ()
display(inventario_total.head(1))

  Produto Quantidade Valor Final
0   arroz          5          21

In [61]:
# o shape retona quantidade de linha e coluna (6,3)
display (inventario_total.shape)

(6, 3)

In [62]:
# o describe mostra estatísticas descritivas, como média, desvio padrão, máximo, mínimo e outras tendências centrais, além da forma da distribuição
display(inventario_total.describe())

       Produto Quantidade Valor Final
count        6          6           6
unique       6          5           6
top      arroz         10          21
freq         1          2           1

In [64]:
#consulta por coluna utilizando um filtro
display (inventario_total['Produto'])

0       arroz
1      feijao
2    macarrao
3       leite
4      cereal
5       milho
Name: Produto, dtype: object

In [65]:
#loc retorna de acordo com as linhas especificadas dentro[]
display (inventario_total.loc[1:3])

    Produto Quantidade Valor Final
1    feijao         10        6.99
2  macarrao         50        2.99
3     leite         25        4.99

In [67]:
#retorna utlizando condição por filtro 
display (inventario_total.loc[inventario_total['Produto'] =='arroz'])

  Produto Quantidade Valor Final
0   arroz          5          21

In [69]:
##retorna utlizando condição por filtro 
display (inventario_total.loc[inventario_total['Produto']=='leite',['Produto','Quantidade']])

  Produto Quantidade
3   leite         25